// _variable.scss

// color -------------------------------------------

$color_white: #fff;
$color_signiture_blue: #061F60;

// font --------------------------------------------



// media queries variable --------------------------
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;