@charset "UTF-8";
/* layout_1280_new_ver.css*/
@font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
  src: url('../../font/양진체v0.9_ttf.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@supports (background-color: --color){

  /* design
  ============================================= */
  body {
    font-family: '양진체';
    background-color: var(--color-black);
  }
    #wrap {
      width: 80rem;
      /* width: 100%; */
      height: auto;
      min-height: 208.125rem;
      margin: auto;
      /* background-color: var(--color-gray5); */
    }
    
  /* #headBox
  --------------------------------------------- */
  
  #headBox {
    position: fixed;
    z-index: 10;
  
    /* width: 80rem; */
    width: 100%;
    left: 0;
    height: 8.125rem;
    padding: 0rem 5rem;
    box-sizing: border-box;
    background-color: var(--color-white);
  }
    .head_box_inner {
      width: 80rem;
      height: 100%;
      margin: auto;
      /* background-color: #faf; */
    }
        /* h1 */
        .head_box_inner > h1 {
          float: left;
      
          width: 13.75rem;
          height: 8.125rem;
          background: url(../../images/logo_1280.svg) no-repeat center;
          /* background-color: #fee; */
        }
          h1 > a {
            display: block;
            width: 100%;
            height: 100%;
            /* background-color: #fee; */
          }
    
    /* navigation */
    .navigation {
      float: right;
    }
      .gnb {
        padding: 2.8125rem 0rem;
        box-sizing: border-box;
      }
        .gnb li {
          float: left;
          width: 6.25rem;
          height: 2.5rem;
          margin-right: 0.9375rem;
          text-align: center;
          /* line-height: 2.5rem; */
          line-height: 3.4375rem;
          /* background-color: var(--color-gray2); */
        }
        .gnb li:first-child {
          margin-left: 3.4375rem;
        }
        .gnb li:last-child {
          width: 2.5rem;
          height: 2.5rem;
          margin-right: 0;
          cursor: pointer;
          /* background: url(../../images/search_icon.svg) no-repeat center; */
        }
          .gnb li a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 19.2px;
            color: var(--color-primary2);
            /* background-color: var(--color-gray3); */
          }
          .gnb li:last-of-type a {
            font-size: 24px;
          }
      
    
  /* #viewBox 
  --------------------------------------------- */
  #viewBox {
    width: 100%;
    height: 43.75rem;
    padding-top: 8.125rem;
    box-sizing: content-box;
    background-color: var(--color-white);
  }
    .view_box_inner {
      position: relative;
  
      width: 100%;
      height: 37.5rem;
      /* background-color: var(--color-gray2); */
    }
      .view_box_img {
        width: 100%;
        height: inherit;
        background: url(../../images/view_box_img_1220_1440_1920.jpg) no-repeat center;
      }
        .view_box_inner .prev_btn, .next_btn {
          position: absolute;
          top: 20.3125rem;
  
          width: 6.25rem;
          height: 6.25rem;
          /* background-color: var(--color-gray1); */
        }
        .prev_btn {
          left: 0;
          background: url(../../images/prev_btn.svg) no-repeat center;
        }
        .next_btn {
          right: 0;
          background: url(../../images/next_btn.svg) no-repeat center;
        }
        .view_box_indicator_bar {
          position: absolute;
          bottom: -3.125rem;
          left: 34.8125rem;
        }
          .indicator_circle {
            float: left;
  
            width: 0.625rem;
            height: 0.625rem;
            margin-right: 1.25rem;
            border-radius: 100%;
            background-color: var(--color-gray3);
          }
          .indicator_circle:last-child {
            margin-right: 0;
          }
  
        /* event - when indicator_circle is showing its image */
        .showing {
          width: 3.125rem;
          height: 0.625rem;
          border-radius: 2.125rem;
          background-color: var(--color-primary2);
        }
  
  
  /* #mainBox 
  --------------------------------------------- */
  #mainBox {
    width: 100%;
    /* padding: 0 5rem; */
    box-sizing: border-box;
    background-color: var(--color-gray1);
  }
  .main_box_inner {
    /* width: 70rem; */
    height: auto;
    min-height: 115.625rem;
  }
  
    /* #productBox */
    #productBox {
      width: 100%;
      height: 62.5rem;
    }
      #productBox h2 {
        padding: 5.625rem 29.3125rem;
      }
        .product_box_img_1 {
          position: relative;
  
          width: 80rem;
          height: 18.75rem;
          margin-bottom: 5.625rem;
          background-color: var(--color-gray3);
        }
        .product_box_img_2 {
          position: relative;
          
          width: 80rem;
          height: 18.75rem;
          margin-bottom: 4.875rem;
          background-color: var(--color-gray3);
        }  
        /* 버튼은 인라인의 개념이라... 인라인의 개념들은 포커스가 걸리면 자꾸 튄다.
        그러니까 이런 버튼의 특징을 고려하여 앱솔루트로 포지셔닝을 걸어버리면 더 튀니까...
        Practice_11 (slide banner) 파일 참고해서 고치기 ...  */
          .product_box_img_1 button, 
          .product_box_img_2 button { 
            position: absolute;
            top: 6.25rem;
            
            width: 6.25rem;
            height: 6.25rem;
          }
          .product_box_img_1 .prev_btn, 
          .product_box_img_2 .prev_btn {
            background: url(../../images/prev_btn.svg);
          }
          .product_box_img_1 .next_btn,
          .product_box_img_2 .next_btn {
            background: url(../../images/next_btn.svg) no-repeat center;
          }
  
  
    /* #eventBox */
    #eventBox {
      width: 100%;
      height: 75rem;
      background-color: var(--color-gray2);
    }
      #eventBox h2 {
        padding: 3.25rem 36.375rem 0rem;
      }
  
    /* #snsBox */
    #snsBox {
      width: 100%;
      height: 25rem;
      background-color: var(--color-gray1);
    }
      #snsBox h2 {
        padding: 4.375rem 37.4375rem 0rem;
      }
  
    /* #familysitesBox */
    #familysitesBox {
      width: 100%;
      height: 9.375rem;
      background-color: var(--color-gray2);
    }
    .familysites_box_inner ul {
      padding: 2.1875rem 0rem;
    }
    .familysite {
      float: left;
  
      width: 9.375rem;
      height: 5rem;
      margin-right: 2.5rem;
      text-align: center;
      line-height: 5rem;
      background-color: var(--color--gray4);
    }
    .familysite:first-child {
      margin-left: 5.625rem;
    }
    .familysite:last-child {
      margin-right: 0;
    }
  
    .familysite a {
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--color-gray4);
    }
  
  
  /* aside 
  --------------------------------------------- */
  /* #oftenSearchedBtns */
  #oftenSearchedBtns{
    width: 100%;
    height: 9.375rem;
    background-color: var(--color-gray1);
  }
    .often_searched_btns_inner {
      position: relative;
  
      padding: 2.1875rem 12.8125rem;
    }
      .often_searched_btns_inner button {
        float: left;
  
        width: 9.375rem;
        height: 5rem;
        margin-right: 8.125rem;
        border-radius: 0.625rem;
  
        background-color: var(--color-gray2);
      }
      .often_searched_btns_inner button:nth-child(1) {
        float: left;
      }
      /* 버튼은 인라인의 개념이라... 인라인의 개념들은 포커스가 걸리면 자꾸 튄다.
        그러니까 이런 버튼의 특징을 고려하여 앱솔루트로 포지셔닝을 걸어버리면 더 튀니까...
        Practice_11 (slide banner) 파일 참고해서 고치기 ...  */
      .often_searched_btns_inner button:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .often_searched_btns_inner button:nth-child(3) {
        float: right;
        margin-right: 0;
      }
  
  
  
  /* #footBox 
  --------------------------------------------- */
  #footBox {
    width: 100%;
    height: 31.25rem;
    border: 0.0625rem solid var(--color-gray2);
    background-color: var(--color-gray2);
  }
    #footBox h2 {
      width: 25rem;
      height: 5rem;
      margin: 2.5rem auto;
      background: url(../../images/the_born_logo_1200_1440_1920.svg) no-repeat center;
    }
      .company_info {
        float: left;
  
        width: 37.75rem;
        height: 13.75rem;
        margin: 0rem 3.125rem 3.125rem 8.75rem;
        /* margin-right: 3.125rem;
        margin-bottom: 3.125rem; */
        background-color: var(--color-gray1);
      }
      .familysites_and_sns {
        float: left;
  
        width: 21.625rem;
        height: 7.5rem;
        /* margin-right: 8.75rem; */
        background-color: var(--color-gray1);
      } 
        .more_familysites {
          position: relative;
  
          width: 18.5rem;
          height: 1.25rem;
          margin: 1.25rem 1.5625rem;
          background-color: var(--color-gray1);
        }
          .drop_down_menu_icon {
            position: absolute;
            top: 0;
            right: 0;
  
            width: 1.25rem;
            height: 1.25rem;
            background: url(../../images/drop_down_icon.svg) no-repeat center;
          }
        .sns_icon_set {
          position: relative;
  
          width: 18.5rem;
          height: 2.5rem;
          margin: 1.25rem 1.5625rem;
          background-color: var(--color-gray1);
        }
        /* 버튼은 인라인의 개념이라... 인라인의 개념들은 포커스가 걸리면 자꾸 튄다.
        그러니까 이런 버튼의 특징을 고려하여 앱솔루트로 포지셔닝을 걸어버리면 더 튀니까...
        Practice_11 (slide banner) 파일 참고해서 고치기 ...  */
          .sns_icon_set button {
            position: absolute;
            top: 0;
  
            width: 2.5rem;
            height: 2.5rem;
          }
          .sns_icon_set .chat_icon {
            left: 2.6875rem;
            background: url(../../images/chat_icon.svg) no-repeat center;
          }
          .sns_icon_set .facebook_icon {
            left: 8rem;
            background: url(../../images/facebook_icon.svg) no-repeat center;
          }
          .sns_icon_set .instagram_icon {
            right: 2.6875rem;
            background: url(../../images/instagram_icon.svg) no-repeat center;
          }
      address {
        float: left;
        width: 62.5rem;
        height: 1.875rem;
        margin: 0rem 8.75rem;
        line-height: 1.875rem;
        text-indent: 0.625rem;
        background-color: var(--color-gray1);
      }
}